<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
    <ui:composition template="/template/default-layout.xhtml">
        <ui:define name="content">
            <h:outputText value="#{helloWorld.hello}"></h:outputText>
        </ui:define>
    </ui:composition>
</h:body>
</html>
